<carousel interval="setInterval">
  <slide ng-repeat="slide in slides" active="slide.active">
    <img class="carousel-image" ng-src="{{slide.image}}"/>
    <div class="carousel-caption">
      <h2>{{slide.title}}</h2>
      <p>{{slide.text}}</p>
    </div>
  </slide>
</carousel>


<div class="nuestra-propuesta">
  <h1>Bienvenido a Vida Sana</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien enim, laoreet non convallis eget, convallis quis arcu. Curabitur tempor pharetra odio, in feugiat orci tincidunt eu. Nulla facilisi. Aenean porttitor sodales eros, quis vestibulum augue accumsan ac.</p>
</div>

<div class="row-fluid">

  <div class="col-md-4" ng-repeat="block in contenido">
    <img class="img-circle" ng-src="{{block.image}}">
    <h3>{{block.title}}</h3>
    <p>{{block.text}}</p>
  </div>

</div>